body {
    margin: 0;
    padding: 0;
    background-color: #EEE;
}

.main {
    max-width: 1200px;
    margin: auto;
    padding: 60px 40px;
}

p a {
    color: #555;
    text-decoration: none;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    line-height: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

p a:hover {
    color: black;
}